<IfModule mod_php5.c>
 
    # Definir o tempo máximo de execucao do script para 30 mins (padrão: 60s)
    php_value max_execution_time 1800
 
    # Definir o tempo de expiração de sessao para 2 horas (padrão: 24 mins)
    php_value session.cookie_lifetime 36000
    php_value session.cache_expire 36000
    php_value session.gc_maxlifetime 36000
 
</IfModule>